PyQt6
qasync
speechrecognition
pyttsx3
pyautogui
requests
fuzzywuzzy
OpenCV
PyPDF2


------------------------------- How Authentication Works ---------------------------------------------------  
1. cd auth
2. Run sample.py by this command "py sample.py" and enter the user id to capture 100 images of your face. The images will be automatically saved in the samples folder.  
3. Run trainer.py by this command "trainer.py" to train the face recognition model using the captured images.  
4. Finally, run main.py to start the authentication process.  
------------------------------------------------------------------------------------------------------------  


## Setup
1. Clone the repository
2. Install dependencies:

C:\Users\dell\Desktop\Abdo_ai_assistant\GraphiqueInterface\react : npm install + npm run dev
C:\Users\dell\Desktop\Abdo_ai_assistant\GraphiqueInterface\elecron : npm install + npm run start